USE [HostelRentalDB]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK__Users__Role__267ABA7A]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [CK__Rooms__RoomStatu__3B75D760]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [CK__Reviews__Rating__5441852A]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [CK__Payments__Status__4F7CD00D]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [CK__Bookings__Bookin__46E78A0C]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [FK_Rooms_Hostels]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FK_Reviews_Rooms]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Hostels] DROP CONSTRAINT [FK_Hostels_Users]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__UpdatedAt__29572725]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__286302EC]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__AccountBa__276EDEB3]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__UpdatedAt__4222D4EF]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__CreatedAt__412EB0B6]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__AllowPet__403A8C7D]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__HasKitche__3F466844]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__HasPrivat__3E52440B]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__HasWaterH__3D5E1FD2]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__HasAirCon__3C69FB99]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__RoomStatu__3A81B327]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__ParkingFe__398D8EEE]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__WifiFee__38996AB5]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__WaterPric__37A5467C]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__Electrici__36B12243]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__MaxOccupa__35BCFE0A]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__DepositAm__34C8D9D1]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__AreaM2__33D4B598]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DF__Rooms__Floor__32E0915F]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__Updated__5629CD9C]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__Created__5535A963]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DF__Payments__Create__5070F446]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DF__Payments__Status__4E88ABD4]
GO
ALTER TABLE [dbo].[Hostels] DROP CONSTRAINT [DF__Hostels__Updated__2F10007B]
GO
ALTER TABLE [dbo].[Hostels] DROP CONSTRAINT [DF__Hostels__Created__2E1BDC42]
GO
ALTER TABLE [dbo].[Hostels] DROP CONSTRAINT [DF__Hostels__TotalRo__2D27B809]
GO
ALTER TABLE [dbo].[Hostels] DROP CONSTRAINT [DF__Hostels__TotalFl__2C3393D0]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [DF__Bookings__Update__49C3F6B7]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [DF__Bookings__Create__48CFD27E]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [DF__Bookings__TotalP__47DBAE45]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [DF__Bookings__Bookin__45F365D3]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/26/2025 12:21:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reviews]') AND type in (N'U'))
DROP TABLE [dbo].[Reviews]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/26/2025 12:21:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
DROP TABLE [dbo].[Payments]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/26/2025 12:21:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bookings]') AND type in (N'U'))
DROP TABLE [dbo].[Bookings]
GO
/****** Object:  View [dbo].[VW_OwnerRooms]    Script Date: 11/26/2025 12:21:53 AM ******/
DROP VIEW [dbo].[VW_OwnerRooms]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/26/2025 12:21:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rooms]') AND type in (N'U'))
DROP TABLE [dbo].[Rooms]
GO
/****** Object:  Table [dbo].[Hostels]    Script Date: 11/26/2025 12:21:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Hostels]') AND type in (N'U'))
DROP TABLE [dbo].[Hostels]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/26/2025 12:21:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
USE [master]
GO
/****** Object:  Database [HostelRentalDB]    Script Date: 11/26/2025 12:21:53 AM ******/
DROP DATABASE [HostelRentalDB]
GO
/****** Object:  Database [HostelRentalDB]    Script Date: 11/26/2025 12:21:53 AM ******/
CREATE DATABASE [HostelRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HostelRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HostelRentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HostelRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HostelRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HostelRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HostelRentalDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[AccountBalance] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hostels]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hostels](
	[HostelId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[HostelName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[TotalFloors] [int] NOT NULL,
	[TotalRooms] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HostelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[HostelId] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[Floor] [int] NOT NULL,
	[AreaM2] [float] NOT NULL,
	[PricePerMonth] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[MaxOccupants] [int] NOT NULL,
	[ElectricityPricePerKwh] [decimal](18, 2) NOT NULL,
	[WaterPricePerM3] [decimal](18, 2) NOT NULL,
	[WifiFee] [decimal](18, 2) NOT NULL,
	[ParkingFee] [decimal](18, 2) NOT NULL,
	[RoomStatus] [nvarchar](20) NOT NULL,
	[HasAirConditioner] [bit] NOT NULL,
	[HasWaterHeater] [bit] NOT NULL,
	[HasPrivateBathroom] [bit] NOT NULL,
	[HasKitchen] [bit] NOT NULL,
	[AllowPet] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_OwnerRooms]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 9. VIEW: chủ trọ xem phòng của mình
------------------------------------------------------------
CREATE VIEW [dbo].[VW_OwnerRooms]
AS
SELECT 
    u.UserId AS OwnerId,
    u.FullName AS OwnerName,
    h.HostelId,
    h.HostelName,
    r.RoomId,
    r.RoomNumber,
    r.PricePerMonth,
    r.RoomStatus
FROM Users u
JOIN Hostels h ON u.UserId = h.OwnerId
JOIN Rooms r ON h.HostelId = r.HostelId
WHERE u.Role = 'HOSTELOWNER';
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[BookingStatus] [nvarchar](20) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/26/2025 12:21:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('PENDING') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT ((1)) FOR [TotalFloors]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT ((0)) FOR [TotalRooms]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('SUCCESS') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [Floor]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [AreaM2]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [MaxOccupants]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [ElectricityPricePerKwh]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [WaterPricePerM3]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [WifiFee]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [ParkingFee]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('AVAILABLE') FOR [RoomStatus]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [HasAirConditioner]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [HasWaterHeater]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [HasPrivateBathroom]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [HasKitchen]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [AllowPet]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AccountBalance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD  CONSTRAINT [FK_Hostels_Users] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Hostels] CHECK CONSTRAINT [FK_Hostels_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Rooms]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Hostels] FOREIGN KEY([HostelId])
REFERENCES [dbo].[Hostels] ([HostelId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Hostels]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([BookingStatus]='COMPLETED' OR [BookingStatus]='CANCELLED' OR [BookingStatus]='CONFIRMED' OR [BookingStatus]='PENDING'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='FAILED' OR [Status]='SUCCESS'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([RoomStatus]='MAINTENANCE' OR [RoomStatus]='RENTED' OR [RoomStatus]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='HOSTELOWNER' OR [Role]='GUEST'))
GO
USE [master]
GO
