USE [master]
GO
/****** Object:  Database [HostelRentalDB]    Script Date: 11/25/2025 12:11:28 AM ******/
CREATE DATABASE [HostelRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HostelRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HostelRentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HostelRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HostelRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HostelRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HostelRentalDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[AccountBalance] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hostels]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hostels](
	[HostelId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[HostelName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[TotalFloors] [int] NOT NULL,
	[TotalRooms] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HostelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[HostelId] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[Floor] [int] NOT NULL,
	[AreaM2] [float] NOT NULL,
	[PricePerMonth] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[MaxOccupants] [int] NOT NULL,
	[ElectricityPricePerKwh] [decimal](18, 2) NOT NULL,
	[WaterPricePerM3] [decimal](18, 2) NOT NULL,
	[WifiFee] [decimal](18, 2) NOT NULL,
	[ParkingFee] [decimal](18, 2) NOT NULL,
	[RoomStatus] [nvarchar](20) NOT NULL,
	[HasAirConditioner] [bit] NOT NULL,
	[HasWaterHeater] [bit] NOT NULL,
	[HasPrivateBathroom] [bit] NOT NULL,
	[HasKitchen] [bit] NOT NULL,
	[AllowPet] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_OwnerRooms]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 9. VIEW: chủ trọ xem phòng của mình
------------------------------------------------------------
CREATE VIEW [dbo].[VW_OwnerRooms]
AS
SELECT 
    u.UserId AS OwnerId,
    u.FullName AS OwnerName,
    h.HostelId,
    h.HostelName,
    r.RoomId,
    r.RoomNumber,
    r.PricePerMonth,
    r.RoomStatus
FROM Users u
JOIN Hostels h ON u.UserId = h.OwnerId
JOIN Rooms r ON h.HostelId = r.HostelId
WHERE u.Role = 'OWNER';
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[BookingStatus] [nvarchar](20) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/25/2025 12:11:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerId], [StartDate], [EndDate], [BookingStatus], [TotalPrice], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, CAST(N'2025-11-20' AS Date), CAST(N'2026-11-20' AS Date), N'CONFIRMED', CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2025-11-24T23:02:55.5184092' AS DateTime2), CAST(N'2025-11-24T23:02:55.5184092' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Hostels] ON 

INSERT [dbo].[Hostels] ([HostelId], [OwnerId], [HostelName], [Address], [Ward], [District], [City], [Description], [TotalFloors], [TotalRooms], [CreatedAt], [UpdatedAt]) VALUES (1, 2, N'Dãy trọ Bình An', N'123 đường ABC', N'Phường 1', N'Quận 1', N'TP. HCM', N'Dãy trọ sạch sẽ, an ninh.', 3, 15, CAST(N'2025-11-24T23:02:55.5164097' AS DateTime2), CAST(N'2025-11-24T23:02:55.5164097' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Hostels] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [Note], [Status], [CreatedAt]) VALUES (1, 1, CAST(2500000.00 AS Decimal(18, 2)), N'Bank Transfer', N'Thanh toán tiền cọc 1 tháng', N'SUCCESS', CAST(N'2025-11-24T23:02:55.5194087' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [RoomId], [CustomerId], [Rating], [Comment], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, 5, N'Phòng sạch sẽ, chủ trọ thân thiện.', CAST(N'2025-11-24T23:02:55.5204080' AS DateTime2), CAST(N'2025-11-24T23:02:55.5204080' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PhoneNumber], [PasswordHash], [Role], [AccountBalance], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nguyễn Văn A', N'user1@example.com', N'0900000001', N'hashed_password_1', N'USER', CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2025-11-24T23:02:55.5124879' AS DateTime2), CAST(N'2025-11-24T23:02:55.5124879' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PhoneNumber], [PasswordHash], [Role], [AccountBalance], [CreatedAt], [UpdatedAt]) VALUES (2, N'Trần Thị Chủ Trọ', N'owner1@example.com', N'0900000002', N'hashed_password_2', N'OWNER', CAST(20000000.00 AS Decimal(18, 2)), CAST(N'2025-11-24T23:02:55.5153781' AS DateTime2), CAST(N'2025-11-24T23:02:55.5153781' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__85FB4E388E01581B]    Script Date: 11/25/2025 12:11:29 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E61E8AFD]    Script Date: 11/25/2025 12:11:29 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('PENDING') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT ((1)) FOR [TotalFloors]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT ((0)) FOR [TotalRooms]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Hostels] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('SUCCESS') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [Floor]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [AreaM2]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [MaxOccupants]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [ElectricityPricePerKwh]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [WaterPricePerM3]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [WifiFee]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [ParkingFee]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('AVAILABLE') FOR [RoomStatus]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [HasAirConditioner]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [HasWaterHeater]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [HasPrivateBathroom]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [HasKitchen]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [AllowPet]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AccountBalance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD  CONSTRAINT [FK_Hostels_Users] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Hostels] CHECK CONSTRAINT [FK_Hostels_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Rooms]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Hostels] FOREIGN KEY([HostelId])
REFERENCES [dbo].[Hostels] ([HostelId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Hostels]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([BookingStatus]='COMPLETED' OR [BookingStatus]='CANCELLED' OR [BookingStatus]='CONFIRMED' OR [BookingStatus]='PENDING'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='FAILED' OR [Status]='SUCCESS'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([RoomStatus]='MAINTENANCE' OR [RoomStatus]='RENTED' OR [RoomStatus]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='OWNER' OR [Role]='USER'))
GO
USE [master]
GO
